<div id="action">

    <div class="action_dice">
        <div class="top">
            <button class="btn btn-info" (click)="rollDice($event)" >Roll Dice</button>  
        </div>
        <div id="dice_results" class="results">
            Dice Results
        </div>        
    </div>

    <div class="action_cards">
        <div class="top">
            <button class="btn btn-info" (click)="pickCard($event)" >Pick Card</button>
        </div>
        <div id="card_results" class="results">
            Card Info
        </div>
    </div>

    <div class="action_spinner">
        <div class="top">
            <button class="btn btn-info" (click)="spinSpinner($event)" >Spinner</button>
        </div>
        <div id="spinner_results" class="results">
            Spin Value
        </div>
    </div>            
</div>