<div id="surface">
    <div class="wrapper">

        <div *ngFor= 'let box of boxes; let i = index' class="box" [id] = i (click)="toggleCol($event)"
            [ngStyle]="{ 'background-color' : box ? box.bgColor : nonselectedBGColor }">{{i}}
        </div>

    </div>

    <div id = "actionlist">
        <div class="action">
            <button class="actionbutton" (click)="testConstant($event)">Check Constant</button>
        </div>
        <div class="action">
            <button class="actionbutton" (click)="testUnique($event)">Unique Array</button>
        </div>        
        <div class="action"></div>
        <div class="action"></div>
        <div class="action"></div>
        <div class="action"></div>

    </div>
</div>