  body {
    margin:40px;
  }

  .bg_red {
    background-color: red;
  }

  
  .bg_grey {
    background-color: grey;
  }

  .bg_lightgrey {
    background-color: lightgrey;
  }
  
  .wrapper {
    display: grid;
    width: 650px;
    height:650px;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    border: 2px solid black;
    padding: 10px;
  }
  
  .box {

    color: #fff;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;
    text-align: center;
  }

  .box:hover {
    cursor: pointer;
  }