<div id="draglist">
    <div id="D1" class="dragoption bgred" draggable="true">D1</div>
    <div id="D2" class="dragoption bggreen" draggable="true">D2</div>
    <div id="D3" class="dragoption bgorange" draggable="true">D3</div>
  </div>
  
  <div id = "surface">
  
    <div id="columns">
      <div id="d1" class="column" draggable="true"><header>A</header></div>
      <div id="d2" class="column" draggable="true"><header>B</header></div>
      <div id="d3" class="column" draggable="true"><header>C</header></div>
    </div>
  
    <div id="boxes">
      <div id="b1" class="box bgblue">BOX 1</div>
      <div id="b2" class="box bgblue">BOX 2</div>
      <div id="b3" class="box bgblue">BOX 3</div>
    </div>
  
  </div>