<div id="draglist">
  <div class="dragoption red" draggable="true"></div>
  <div class="dragoption green" draggable="true"></div>
  <div class="dragoption yellow" draggable="true"></div>
</div>

<div id = "surface">

  <div id="columns">
    <div id="d1" class="column" draggable="true"><header>A</header></div>
    <div id="d2" class="column" draggable="true"><header>B</header></div>
    <div id="d3" class="column" draggable="true"><header>C</header></div>
  </div>

  <div id="boxes">
    <div id="b1" class="box">BOX 1</div>
    <div id="b2" class="box">BOX 2</div>
    <div id="b3" class="box">BOX 3</div>
  </div>

</div>